body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    height: 100vh;
    overflow-x: hidden;
}´

/*header*/

* {
    box-sizing: border-box;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1em;
    margin-left: 1em;
}

.right {
    margin-right: 1em;
}

.logo {
    width: 100px;
    height: 80%;
    background: blue;
}

header {
    display: flex;
    height: 15vh;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6em;
    font-weight: 700;
}

a {
    color: var(--black);
    margin: 1em;
}

.main {
    width: 100vw;
    height: 100vh;
}

.image-bg {
    justify-content: center;
    display: flex;
    width: 100vw;
    height: 500px;
    object-fit: none;
}

img {
    width: 100vw;
    object-position: 50% 95%;
    object-fit: cover;
}

.imgHeading {
    position: absolute;
    color: white;
    margin-top: 5%;
    font-size: 300%;
}

.imgText {
    position: absolute;
    align-self: center;
    font-size: 150%;
    color: white;
    width: 60%;
}

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

span {
    width: 30vw;
    margin-bottom: 2%;
    margin-top: 2%;
}

.aboutUsImg {
    margin-top: 5%;
    height: 30vh;
    width: 30vw;
}

.funFacts{
    padding-top: 1%;
    background-color: #FAF9F6;
    margin-top:12%;
    height: 40vh;
    width: 100vw;
    border: 8px;
}

.factsHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.facts{
    margin-left: 3%;
    margin-right: 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.factImages{
    width: 500px;
    height: 300px;
}