#root {
    height: 100vh;
}

/*header*/

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1em;
}

.logo {
    width: 100px;
    height: 80%;
    background: blue;
}

.category-name {
    font-size: 1.1em;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-name {
    cursor: pointer;
}

.category-item {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 5px;
    border: 1px solid black; 
    font-size: 1em;
}

.item {
    cursor: pointer; 
    transition: all 0.3s; 
}

.item:hover {
    text-decoration: underline;
    transform: scale(1.05);
}