:root {
  --black: rgb(24, 22, 22);
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  height: 100vh;
  overflow-x: hidden;
}

.center {
  display: flex;
  justify-content: center;
}

.centerboxspace {
  margin-top: 1%;
}
.centerboxspace2 {
  margin-top: 5%;
}

.filloutform {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: solid black 1.5px;
  height: 6vh;
  margin-top: 10px;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  height: 15vh;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 0em 1em;
  font-size: 1.6em;
  font-weight: 700;
}

a {
  color: var(--black);
  margin: 1em;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 1em;
}

.logo {
  width: 100px;
  height: 80%;
  background: blue;
}

hr {
  width: 90%;
}
/*Tar bort den svarta linjen run om min form*/
fieldset {
  border: none;
  padding: 0px;
}
/*En enkel margin*/
label {
  margin-bottom: 5px;
}

/*Style till knappen och själva formen.*/

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: none;
  border-color: #ccc;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
}

button {
  padding: 10px 20px;
  background-image: linear-gradient(
    45deg,
    #a67c00 0%,
    #ffbf00 30%,
    #ffdc73 35%,
    #ffbf00 70%,
    #ffbf00 0%,
    #a67c00 1000%
  );
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* Style och hover effekt till anchors*/
a:hover {
  color: #ffa500;
}
/* Style till center box AKA formen*/
.centerbox {
  display: flex;
  justify-content: center;
  border: solid black 1px;
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto;
  max-width: 45vw;
}

/*En fin liten container som det ligger sqaures i med flex center så att de är i mitten*/
.faq-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*Utessendet på själva sqauren,*/
.faq {
  font-size: 1.2em;
  border-radius: 5px;
  border: 1px solid black;
}

.faq:hover {
  background-color: black;
}
/* Tar bort den fula linjen under anchors. */
a {
  text-decoration: none;
}

/* Style for the delivery facts section */
.faqGG {
  display: flex;
  justify-content: center;
}
.faqText {
  display: flex;
  justify-content: center;
  margin-left: 25vw;
  margin-right: 25vw;
}

li {
  margin-top: 2vh;
}

.scroll-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffbf00;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

.scroll-top-show {
  display: block; /* Visar bara kanppen när den behövs */
}

.mapbackground {
  width: 100vw;
  height: 50vh;
  background-color: #ccc;
}

.information{
  height: 50vh;
  display: flex;
  justify-content: first baseline;
}

.information img{
  height: 100% ;
  padding: 8px;
  width: 50vw;
}




/*Responsivitet*/
@media screen and (max-width: 790px) {
  .centerbox {
    max-width: 90vw;
  }
  .faqText {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}
@media screen and (max-width: 320px) {
  .centerbox {
    max-width: 90vw;
  }
}
